<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="uk-margin-bottom uk-margin-medium-left uk-margin-large-top" uk-grid>
  <div>
 <button class="uk-button uk-button-primary" routerLink="">Single Image Upload</button>
</div>
<div>
 <button class="uk-button multi" routerLink="/multi">Multi Image Upload</button>
</div>
<div>
 <button class="uk-button gallary" routerLink="/images">View Gallary</button>
</div>
</div>

<router-outlet></router-outlet>
